## adapted from https://stackoverflow.com/questions/5711120/gitignore-without-binary-files 

# ignore all files
*

# un-ignore all files with an extension 
!*.*

# un-ignore all directories 
!*/

#re-ignore directories we don't want
others/*
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
